/* line 3, C:/Users/K/Desktop/test-task/css/styles.scss */
body {
  background-image: url(../img/pattern-basic.png);
  background-size: cover;
  font-size: 14px;
  height: 100%; }

/* line 10, C:/Users/K/Desktop/test-task/css/styles.scss */
.text-bold {
  font-weight: 600; }

/* line 14, C:/Users/K/Desktop/test-task/css/styles.scss */
.hide {
  display: none; }

/* line 18, C:/Users/K/Desktop/test-task/css/styles.scss */
header {
  min-height: 70px;
  padding: 15px 0; }
  /* line 22, C:/Users/K/Desktop/test-task/css/styles.scss */
  header .backup-img {
    margin: 7px auto; }

/* line 27, C:/Users/K/Desktop/test-task/css/styles.scss */
.breadcrumbs {
  background-color: #0aab0a;
  border-radius: 4px;
  box-shadow: 0 1px 2px 1px #41732c;
  margin-bottom: 30px;
  min-height: 40px;
  width: 100%; }
  /* line 35, C:/Users/K/Desktop/test-task/css/styles.scss */
  .breadcrumbs-list {
    color: #fff; }
    /* line 38, C:/Users/K/Desktop/test-task/css/styles.scss */
    .breadcrumbs-list li {
      float: left;
      line-height: 40px; }
    /* line 43, C:/Users/K/Desktop/test-task/css/styles.scss */
    .breadcrumbs-list li:last-child {
      font-weight: 600; }
    /* line 47, C:/Users/K/Desktop/test-task/css/styles.scss */
    .breadcrumbs-list a {
      color: #fff; }

/* line 53, C:/Users/K/Desktop/test-task/css/styles.scss */
.breadcrumbs-list > li + li:before {
  content: "\00bb";
  color: #000;
  font-weight: 400;
  padding: 0 20px; }

/* line 60, C:/Users/K/Desktop/test-task/css/styles.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

/* line 65, C:/Users/K/Desktop/test-task/css/styles.scss */
.clearfix:after {
  clear: both; }

/* line 69, C:/Users/K/Desktop/test-task/css/styles.scss */
.tabs {
  display: inline-block;
  padding: 0 30px 0 0;
  width: 100%; }
  /* line 74, C:/Users/K/Desktop/test-task/css/styles.scss */
  .tabs-links {
    margin: 0;
    position: relative; }
    /* line 78, C:/Users/K/Desktop/test-task/css/styles.scss */
    .tabs-links li {
      float: right;
      margin: 0 0 -1px 2px;
      text-align: center;
      min-height: 40px;
      min-width: 110px; }
    /* line 86, C:/Users/K/Desktop/test-task/css/styles.scss */
    .tabs-links a {
      background-color: #ededed;
      border: 1px solid #bfbbbb;
      border-radius: 3px 3px 0px 0px;
      color: #000;
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      padding: 10px 20px;
      transition: all linear 0.15s; }
    /* line 98, C:/Users/K/Desktop/test-task/css/styles.scss */
    .tabs-links a:hover {
      background: #a7cce5;
      text-decoration: none; }
    /* line 103, C:/Users/K/Desktop/test-task/css/styles.scss */
    .tabs-links li.active a, .tabs-links li.active a:hover {
      background-color: #fff;
      border: 1px solid #bfbbbb;
      border-bottom-color: transparent; }

/* line 111, C:/Users/K/Desktop/test-task/css/styles.scss */
.content {
  background-color: #fff;
  border: 1px solid #bfbbbb;
  border-radius: 3px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 20px; }
  /* line 118, C:/Users/K/Desktop/test-task/css/styles.scss */
  .content .tab {
    display: none; }
  /* line 122, C:/Users/K/Desktop/test-task/css/styles.scss */
  .content .tab.active {
    display: block; }
  /* line 126, C:/Users/K/Desktop/test-task/css/styles.scss */
  .content .new-report {
    background: url(../img/Annual_DP_Report_2013_header_LP.png) no-repeat;
    background-size: cover;
    height: 150px;
    margin: 0 auto 30px;
    position: relative;
    width: 100%; }
    /* line 134, C:/Users/K/Desktop/test-task/css/styles.scss */
    .content .new-report-text {
      color: #fff;
      margin: 20px 0 0;
      padding: 57px 0 0;
      text-align: center; }
      /* line 140, C:/Users/K/Desktop/test-task/css/styles.scss */
      .content .new-report-text .top {
        font-size: 22px;
        font-weight: 600; }
      /* line 145, C:/Users/K/Desktop/test-task/css/styles.scss */
      .content .new-report-text span {
        color: #f2de27; }
      /* line 149, C:/Users/K/Desktop/test-task/css/styles.scss */
      .content .new-report-text .bottom {
        font-size: 15px; }
  /* line 155, C:/Users/K/Desktop/test-task/css/styles.scss */
  .content h1, .content .big-text {
    font-size: 17px;
    font-weight: 600; }
  /* line 160, C:/Users/K/Desktop/test-task/css/styles.scss */
  .content p, .content ul {
    font-size: 13px; }
  /* line 164, C:/Users/K/Desktop/test-task/css/styles.scss */
  .content li {
    line-height: 1.5; }
  /* line 168, C:/Users/K/Desktop/test-task/css/styles.scss */
  .content .statistics {
    display: inline-block;
    margin: 0 0 20px;
    padding: 0 0 20px 34px;
    width: 58%; }
  /* line 175, C:/Users/K/Desktop/test-task/css/styles.scss */
  .content .video-tab1 {
    background: url(../img/annual-smb-report.jpg) no-repeat;
    display: inline-block;
    height: 137px;
    margin-top: 5px;
    position: relative;
    vertical-align: top;
    width: 192px; }
  /* line 185, C:/Users/K/Desktop/test-task/css/styles.scss */
  .content .video-tab2 {
    background: url(../img/preview-annual-dp-report.png) no-repeat;
    display: inline-block;
    margin-top: 5px;
    vertical-align: top;
    width: 151px;
    height: 214px;
    position: relative; }
  /* line 195, C:/Users/K/Desktop/test-task/css/styles.scss */
  .content .look-inside {
    background: url(../img/hands_on_guide_click.png) no-repeat;
    position: absolute;
    bottom: 0;
    left: -2;
    height: 50px;
    width: 100%; }
  /* line 206, C:/Users/K/Desktop/test-task/css/styles.scss */
  .content .infografics img {
    float: left;
    margin: 10px 75px 0 0; }
  /* line 211, C:/Users/K/Desktop/test-task/css/styles.scss */
  .content .infografics img:last-child {
    margin-right: 0; }
  /* line 216, C:/Users/K/Desktop/test-task/css/styles.scss */
  .content .register {
    background-color: #ededed;
    border: 7px solid #fff;
    box-shadow: 0px 0px 14px 0px #8A8787;
    max-width: 360px;
    width: 100%; }
    /* line 223, C:/Users/K/Desktop/test-task/css/styles.scss */
    .content .register-caption {
      color: #0aab0a;
      font-size: 18px;
      font-weight: 700;
      padding-top: 10px; }
    /* line 230, C:/Users/K/Desktop/test-task/css/styles.scss */
    .content .register form {
      padding: 0 10px;
      font-size: 13px; }
    /* line 237, C:/Users/K/Desktop/test-task/css/styles.scss */
    .content .register .form-label {
      width: 35%; }
      /* line 240, C:/Users/K/Desktop/test-task/css/styles.scss */
      .content .register .form-label span {
        color: red;
        font-size: 18px;
        line-height: 1.2; }
    /* line 247, C:/Users/K/Desktop/test-task/css/styles.scss */
    .content .register .form-input {
      height: 21px;
      margin: 0 0 13px 20px;
      width: 56%; }
    /* line 253, C:/Users/K/Desktop/test-task/css/styles.scss */
    .content .register .form-btn {
      background-color: #0aab0a;
      background-image: linear-gradient(#8add6d, #60b044);
      border: 1px solid #d5d5d5;
      border-radius: 5px;
      color: #fff;
      display: inherit;
      font-size: 18px;
      margin: 20px auto 0;
      padding: 6px 30px;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15); }

/* line 269, C:/Users/K/Desktop/test-task/css/styles.scss */
.footer {
  margin: 20px 0; }
  /* line 272, C:/Users/K/Desktop/test-task/css/styles.scss */
  .footer-list {
    margin-bottom: 20px; }
    /* line 275, C:/Users/K/Desktop/test-task/css/styles.scss */
    .footer-list a {
      color: #000; }
    /* line 279, C:/Users/K/Desktop/test-task/css/styles.scss */
    .footer-list li + li:before {
      content: "|";
      padding: 0 10px 0 0; }

@media (min-width: 992px) {
  /* line 290, C:/Users/K/Desktop/test-task/css/styles.scss */
  .container {
    width: 950px; } }

@media screen and (max-width: 991px) and (min-width: 767px) {
  /* line 297, C:/Users/K/Desktop/test-task/css/styles.scss */
  .breadcrumbs-list li {
    font-size: 12px; }
  /* line 303, C:/Users/K/Desktop/test-task/css/styles.scss */
  .content .register {
    margin-top: 30px; }
    /* line 306, C:/Users/K/Desktop/test-task/css/styles.scss */
    .content .register form {
      font-size: 12px; }
      /* line 309, C:/Users/K/Desktop/test-task/css/styles.scss */
      .content .register form .form-input {
        margin: 0 0 10px 10px; }
  /* line 317, C:/Users/K/Desktop/test-task/css/styles.scss */
  .content .new-report-text .top {
    font-size: 18px; }
  /* line 321, C:/Users/K/Desktop/test-task/css/styles.scss */
  .content .new-report-text .bottom {
    font-size: 12px; } }

@media screen and (max-width: 768px) and (min-width: 556px) {
  /* line 330, C:/Users/K/Desktop/test-task/css/styles.scss */
  header img {
    margin: 0 auto; }
  /* line 334, C:/Users/K/Desktop/test-task/css/styles.scss */
  ol.breadcrumbs-list {
    margin: 0; }
    /* line 337, C:/Users/K/Desktop/test-task/css/styles.scss */
    ol.breadcrumbs-list li {
      font-size: 12px;
      line-height: 1.4; }
  /* line 343, C:/Users/K/Desktop/test-task/css/styles.scss */
  .tabs-links a {
    font-size: 12px; }
  /* line 349, C:/Users/K/Desktop/test-task/css/styles.scss */
  .content h1 {
    margin-top: 0; }
  /* line 353, C:/Users/K/Desktop/test-task/css/styles.scss */
  .content .register {
    margin-top: 30px; }
    /* line 356, C:/Users/K/Desktop/test-task/css/styles.scss */
    .content .register form {
      font-size: 12px; }
      /* line 359, C:/Users/K/Desktop/test-task/css/styles.scss */
      .content .register form .form-input {
        margin: 0 0 10px 10px; }
  /* line 367, C:/Users/K/Desktop/test-task/css/styles.scss */
  .content .new-report-text .top {
    font-size: 14px; }
  /* line 371, C:/Users/K/Desktop/test-task/css/styles.scss */
  .content .new-report-text .bottom {
    font-size: 10px; } }

@media screen and (max-width: 556px) {
  /* line 379, C:/Users/K/Desktop/test-task/css/styles.scss */
  .content .statistics {
    margin-top: 15px;
    width: 100%; }
  /* line 384, C:/Users/K/Desktop/test-task/css/styles.scss */
  .infografics {
    margin-bottom: 20px; } }

/*# sourceMappingURL=styles.css.map */