@import '_variable';

body {
	background-image: url(../img/pattern-basic.png);
	background-size: cover;
	font-size: $font-size-base;
	height: 100%;
}

.text-bold {
	font-weight: 600;
}

.hide {
	display: none;
}

header {
	min-height: 70px;
	padding: 15px 0;
	
	.backup-img {
		margin: 7px auto;
	}
}

.breadcrumbs {
	background-color: $c-green;
	border-radius: 4px;
	box-shadow: 0 1px 2px 1px $c-green-shadow;
	margin-bottom: 30px;
	min-height: 40px;
	width: 100%;
	
	&-list {
		color: #fff;
		
		li {
			float: left;
			line-height: 40px;
		}
		
		li:last-child {
			font-weight: 600;
		}
		
		a {
			color: #fff;
		}
	}
}

.breadcrumbs-list>li+li:before {
	content: "\00bb";
	color: #000;
	font-weight: 400;
	padding: 0 20px;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
 
.clearfix:after {
	clear: both;
}

.tabs {
	display: inline-block;
	padding: 0 30px 0 0;
	width: 100%;

	&-links {
		margin: 0;
		position: relative;
			
		li {
			float: right;
			margin: 0 0 -1px 2px;
			text-align: center;
			min-height: 40px;
			min-width: 110px;
		}
	
		a {
			background-color: $c-grey;
			border: $c-border-content;
			border-radius: 3px 3px 0px 0px;
			color: #000;
			display:inline-block;
			font-size: $font-size-base;
			font-weight: 600;
			padding: 10px 20px;
			transition:all linear 0.15s;
		}
		
		a:hover {
            background: $c-a-hover;
            text-decoration:none;
        }
		
		li.active a, li.active a:hover {
			background-color: #fff;
			border: $c-border-content;
   			border-bottom-color: transparent;
    	}
	}	
}

.content {
	background-color: #fff;
	border: $c-border-content;
	border-radius: 3px;
	box-shadow: -1px 1px 1px rgba(0,0,0,0.15);
	padding: 20px;
	
	.tab {
		display: none;
	}

	.tab.active {
		display: block;
	}

	.new-report {
		background: url(../img/Annual_DP_Report_2013_header_LP.png) no-repeat;
		background-size: cover;
		height: 150px;
		margin: 0 auto 30px;
		position: relative;
		width: 100%;
		
		&-text{
			color: #fff;
			margin: 20px 0 0;
			padding: 57px 0 0;
			text-align: center;
			
			.top {
				font-size: $font-size-base + 8;
				font-weight: 600;
			}
			
			span {
				color: $c-yellow-text;
			}
			
			.bottom {
				font-size: $font-size-base + 1;
			}
		}
	}

	h1, .big-text {
		font-size: $font-size-base + 3;
		font-weight: 600;
	}
	
	p, ul {
		font-size: $font-size-base - 1;
	}
	
	li {
		line-height: 1.5;
	}
	
	.statistics {
		display: inline-block;
		margin: 0 0 20px;
		padding: 0 0 20px 34px;
		width: 58%;
	}
	
	.video-tab1 {
		background: url(../img/annual-smb-report.jpg) no-repeat;
		display: inline-block;
		height: 137px;
		margin-top: 5px;
		position: relative;
		vertical-align: top;
		width: 192px;
	}
	
	.video-tab2 {
		background: url(../img/preview-annual-dp-report.png) no-repeat;
		display: inline-block;
		margin-top: 5px;
		vertical-align: top;
		width: 151px;
		height: 214px;
		position: relative;
	}
	
	.look-inside {
		background: url(../img/hands_on_guide_click.png) no-repeat;
		position: absolute;
		bottom: 0;
		left: -2;
		height: 50px;
    	width: 100%;
	}
	
	.infografics {
		
		img {
			float: left;
			margin: 10px 75px 0 0;
		}
		
		img:last-child {
			margin-right: 0;
		}	
	}
	
	.register {
		background-color: $c-grey;
		border: 7px solid #fff;
		box-shadow: 0px 0px 14px 0px #8A8787;
		max-width: 360px;
		width: 100%;

		&-caption {
			color: #0aab0a;
			font-size: $font-size-base + 4;
			font-weight: 700;
			padding-top: 10px;
		}
		
		form {
			padding: 0 10px;
			font-size: $font-size-base - 1;
		}
		
		.form {
			
			&-label {
				width: 35%;
				
				span {
					color: red;
					font-size: $font-size-base + 4;
    				line-height: 1.2;
				}	
			}
			
			&-input {
				height: 21px;
				margin: 0 0 13px 20px;
				width: 56%;
			}
			
			&-btn {
				background-color: $c-green;
				background-image: linear-gradient(#8add6d, #60b044);
				border: 1px solid #d5d5d5;
    			border-radius: 5px;
				color: #fff;
				display: inherit;
				font-size: $font-size-base + 4;
				margin: 20px auto 0;
				padding: 6px 30px;
				text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
			}
		}
	}
}

.footer {	
	margin: 20px 0;
	
	&-list {
		margin-bottom: 20px;
		
		a { 
			color: #000;
		}
	
		li+li:before {
			content: "|";
			padding: 0 10px 0 0;
		}
	}
}




@media (min-width: 992px) {
	.container {
		width: 950px;
	}	
}

@media screen and (max-width: 991px) and (min-width: 767px){
	
	.breadcrumbs-list li {
		font-size: $font-size-base - 2;
	}
	
	.content {
		
		.register {		
			margin-top: 30px;

			form {
				font-size: $font-size-base - 2;

			.form-input {
				margin: 0 0 10px 10px;
				}
			}
		}
		
		.new-report-text {
			
			.top {
				font-size: $font-size-base + 4;
			}
			
			.bottom {
				font-size: $font-size-base - 2;
			}
		}
	}
}

@media screen and (max-width: 768px) and (min-width: 556px){
	
	header img {
		margin: 0 auto;
	}
	
	ol.breadcrumbs-list {
			margin: 0;
		
		li {
			font-size: $font-size-base - 2;
			line-height: 1.4;
		}
	}
	
	.tabs-links a {
		font-size: $font-size-base - 2;
	}
	
	.content {
		
		h1 {
			margin-top: 0;
		}
		
		.register {		
			margin-top: 30px;
			
			form {
				font-size: $font-size-base - 2;

			.form-input {
					margin: 0 0 10px 10px;
				}
			}
		}
		
		.new-report-text {
			
			.top {
				font-size: $font-size-base;
			}
			
			.bottom {
				font-size: $font-size-base - 4;
			}
		}	
	}
}

@media screen and (max-width: 556px) {
		.content .statistics {
			margin-top: 15px;
			width: 100%;
		}
		
	.infografics {
		margin-bottom: 20px;
	}
} 